body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:379px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:679px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:679px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:6px;
  width:218px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u1981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:218px;
  word-wrap:break-word;
}
#u1982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:17px;
  width:9px;
  height:15px;
}
#u1982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:163px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:377px;
  height:163px;
}
#u1983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:2px;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:194px;
  width:377px;
  height:1px;
}
#u1984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:143px;
  width:49px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u1985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u1986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:217px;
  width:36px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u1986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:146px;
  width:40px;
  height:20px;
}
#u1988_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:146px;
  width:20px;
  height:20px;
}
#u1989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:146px;
  width:20px;
  height:20px;
}
#u1990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:223px;
  width:40px;
  height:20px;
}
#u1992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:223px;
  width:20px;
  height:20px;
}
#u1993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:223px;
  width:20px;
  height:20px;
}
#u1994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:44px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:5.66667175292969px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:615px;
  width:160px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u1996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:377px;
  height:73px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1997_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:22px;
  height:27px;
}
#u1997 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:615px;
  width:12px;
  height:17px;
}
#u1997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:22px;
  height:27px;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:129px;
  width:12px;
  height:17px;
}
#u1998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:22px;
  height:27px;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  height:17px;
}
#u1999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u2000 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:60px;
  width:49px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u2000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u2001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2002 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:63px;
  width:40px;
  height:20px;
}
#u2002_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2003 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:63px;
  width:20px;
  height:20px;
}
#u2003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2004 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:63px;
  width:20px;
  height:20px;
}
#u2004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
