body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:699px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:672px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:672px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:379px;
  height:627px;
  overflow:hidden;
}
#u669_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:627px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u669_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:621px;
  overflow:hidden;
}
#u670_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:621px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u670_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:822px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:822px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:157px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:160px;
  width:365px;
  height:157px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:150px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:150px;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:177px;
  width:45px;
  height:45px;
  text-align:center;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:45px;
  word-wrap:break-word;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:177px;
  width:45px;
  height:45px;
  text-align:center;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:45px;
  word-wrap:break-word;
}
#u677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:177px;
  width:45px;
  height:45px;
  text-align:center;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:45px;
  word-wrap:break-word;
}
#u678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:177px;
  width:45px;
  height:45px;
  text-align:center;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:45px;
  word-wrap:break-word;
}
#u679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:247px;
  width:45px;
  height:45px;
  text-align:center;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:45px;
  word-wrap:break-word;
}
#u680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:247px;
  width:45px;
  height:45px;
  text-align:center;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:45px;
  word-wrap:break-word;
}
#u681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:247px;
  width:45px;
  height:45px;
  text-align:center;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:45px;
  word-wrap:break-word;
}
#u682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:247px;
  width:45px;
  height:45px;
  text-align:center;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:45px;
  word-wrap:break-word;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:173px;
  width:20px;
  height:27px;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:240px;
  width:20px;
  height:27px;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:327px;
  width:365px;
  height:210px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:336px;
  width:170px;
  height:187px;
  text-align:center;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:170px;
  word-wrap:break-word;
}
#u687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:336px;
  width:168px;
  height:86px;
  text-align:center;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:168px;
  word-wrap:break-word;
}
#u688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:432px;
  width:168px;
  height:91px;
  text-align:center;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:168px;
  word-wrap:break-word;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:585px;
  width:170px;
  height:215px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:586px;
  width:160px;
  height:160px;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:747px;
  width:118px;
  height:24px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:118px;
  word-wrap:break-word;
}
#u693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:772px;
  width:49px;
  height:21px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:584px;
  width:170px;
  height:215px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:585px;
  width:160px;
  height:160px;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:746px;
  width:118px;
  height:24px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:118px;
  word-wrap:break-word;
}
#u698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:771px;
  width:49px;
  height:21px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:545px;
  width:250px;
  height:37px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:250px;
  word-wrap:break-word;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3.66665649414063px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:232px;
  height:40px;
  font-size:14px;
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:4px;
  width:198px;
  height:32px;
}
#u703_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:12px;
  width:13px;
  height:16px;
  opacity:0.5;
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:14px;
  height:24px;
  color:#949494;
}
#u705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:3px;
  width:67px;
  height:34px;
  font-size:20px;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:166px;
  width:310px;
  height:165px;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:310px;
  word-wrap:break-word;
}
#u708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:405px;
  width:310px;
  height:109px;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:310px;
  word-wrap:break-word;
}
#u709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:593px;
  width:310px;
  height:79px;
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:310px;
  word-wrap:break-word;
}
