body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:689px;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:689px;
}
#u2159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:647px;
  width:70px;
  height:34px;
  font-size:16px;
  text-align:center;
}
#u2160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u2161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:647px;
  width:80px;
  height:34px;
  font-size:16px;
  text-align:center;
}
#u2161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u2162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:center;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:601px;
  width:101px;
  height:36px;
  font-size:15px;
  text-align:center;
}
#u2162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u2163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:center;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:565px;
  width:101px;
  height:36px;
  font-size:15px;
  text-align:center;
}
#u2163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u2164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:center;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:647px;
  width:88px;
  height:34px;
  font-size:15px;
  text-align:center;
}
#u2164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u2165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:center;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:601px;
  width:106px;
  height:36px;
  font-size:15px;
  text-align:center;
}
#u2165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u2166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:center;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:565px;
  width:106px;
  height:36px;
  font-size:15px;
  text-align:center;
}
#u2166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
