body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:114px;
  width:375px;
  height:667px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:896px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:896px;
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:112px;
  width:377px;
  height:673px;
  overflow:hidden;
}
#u1219_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:673px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1219_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:673px;
  overflow:hidden;
}
#u1220_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:673px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1220_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:981px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-26px;
  width:377px;
  height:981px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:474px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:75px;
  width:370px;
  height:474px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:392px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:557px;
  width:374px;
  height:392px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:180px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:563px;
  width:352px;
  height:180px;
  text-align:left;
}
#u1225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:578px;
  width:108px;
  height:27px;
  opacity:0.8;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u1227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 102, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:694px;
  width:86px;
  height:33px;
}
#u1227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:182px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:761px;
  width:352px;
  height:182px;
}
#u1229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:770px;
  width:108px;
  height:27px;
  opacity:0.8;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u1231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 102, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:897px;
  width:86px;
  height:33px;
}
#u1231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:47px;
  width:74px;
  height:27px;
  font-size:15px;
}
#u1233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u1234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:83px;
  width:160px;
  height:160px;
}
#u1234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:83px;
  width:160px;
  height:160px;
}
#u1235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:83px;
  width:1px;
  height:200px;
}
#u1236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:327px;
  width:160px;
  height:160px;
}
#u1237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:327px;
  width:160px;
  height:160px;
}
#u1238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:249px;
  width:158px;
  height:20px;
  font-size:13px;
}
#u1239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u1240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:267px;
  width:120px;
  height:18px;
  font-size:13px;
  color:#FF0000;
}
#u1240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u1241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:248px;
  width:158px;
  height:20px;
  font-size:13px;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u1242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:266px;
  width:120px;
  height:18px;
  font-size:13px;
  color:#FF0000;
}
#u1242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:2px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:301px;
  width:152px;
  height:1px;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:2px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:301px;
  width:152px;
  height:1px;
}
#u1244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:490px;
  width:158px;
  height:20px;
  font-size:13px;
}
#u1245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u1246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:508px;
  width:120px;
  height:18px;
  font-size:13px;
  color:#FF0000;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u1247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:492px;
  width:158px;
  height:20px;
  font-size:13px;
}
#u1247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u1248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:510px;
  width:120px;
  height:18px;
  font-size:13px;
  color:#FF0000;
}
#u1248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u1249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:210px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:327px;
  width:1px;
  height:209px;
}
#u1249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:112px;
  width:377px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3.66665649414063px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:117px;
  width:206px;
  height:40px;
  font-size:14px;
}
#u1253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:121px;
  width:176px;
  height:32px;
}
#u1254_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:129px;
  width:11px;
  height:16px;
  opacity:0.5;
}
#u1255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:126px;
  width:13px;
  height:22px;
}
#u1256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:121px;
  width:92px;
  height:29px;
  font-size:20px;
}
#u1257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
